<div id="errorModal" style="width: 480px; display: none;">
  <div class="__wtdialog __apalert __dialog __dialog_ontop" id="__apdialog_alert" style="">
    <div class="__dialogwrapper" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto;">
      <div class="__dialogwrapper-inner">
        <div class="__dialogmain">
          <div class="__dialogclose" onclick="hideErrorModal()">
            <span class="-ap icon-close"/>
          </div>
          <div class="__dialogcontent">
            <div id="alert" style="" class="__apdialog" title="">
              <table>
                <tbody>
                <tr>
                  <td class="icon">
                    <span class="-ap icon-help-with-circle" style="font-size:40px; color:#666"></span>
                  </td>
                  <td class="text" id="errorMessage"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="__dialogbuttons unselectable" onclick="hideErrorModal()">
            <div class="button er alert-button" >OK</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>